/* Background container with blur */
.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
   background-image: url('https://media.licdn.com/dms/image/D4D12AQE5tMSbHzL5Yw/article-cover_image-shrink_600_2000/0/1686909157848?e=2147483647&v=beta&t=QAErDuhf8HDQ3ojR9z9ajoGCCf3hpiF4wS-dQrsEc3Q'); /* Streamlit should resolve this */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(8px); /* Apply blur to the background image */
}

/* Main content container */
.main-content {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 60%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Title styling with animation */
.stTitle {
    color: #333;
    text-align: center;
    font-family: 'Arial', sans-serif;
    animation: fadeIn 2s ease-in-out;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
